/* Alocação de rateio para TODOS os meses/anos, por projeto rateado (1,2,4) */
WITH
  Base AS (
    SELECT
      cf.Ano,
      cf.Mes,
      -- DATA real do mês (dia 01)
      STR_TO_DATE(
        CONCAT(cf.Ano, '-', LPAD(cf.Mes, 2, '0'), '-01'),
        '%Y-%m-%d'
      ) AS DataMes,
      cf.Projeto_Id,
      cf.Despesas,
      cf.Receitas,
      cf.Colaboradores,
      cf.Horas,
      p.Nome,
      p.Rateio
    FROM
      cache_financeiro cf
      JOIN projeto p ON p.Id = cf.Projeto_Id
  ),
  -- Projetos que SERÃO rateados (Rateio IN 1,2,4)
  Rated AS (
    SELECT
      b.*,
      /* Total a ratear:
      - método receita (4): usa (Despesas - Receitas) ≥ 0 para evitar valores negativos
      - métodos horas/pessoas (1/2): usa Despesas
      */
      CASE
        WHEN b.Rateio = 4 OR b.Rateio = 1 OR b.Rateio = 2 THEN GREATEST(b.Despesas - COALESCE(b.Receitas, 0), 0)
      END AS TotalToAllocate
    FROM
      Base b
    WHERE
      b.Rateio IN (1, 2, 4)
  ),
  -- Projetos que RECEBEM rateio (padrão)
  Recipients AS (
    SELECT
      b.Ano,
      b.Mes,
      b.DataMes,
      b.Projeto_Id,
      b.Nome,
      b.Horas,
      b.Colaboradores,
      b.Receitas
    FROM
      Base b
    WHERE
      b.Rateio = 0
  ),
  -- Somatórios da base dos RECEPTORES por mês/ano
  RecipientSums AS (
    SELECT
      r.Ano,
      r.Mes,
      r.DataMes,
      SUM(r.Horas) AS SumHoursRecipients,
      SUM(r.Colaboradores) AS SumPeopleRecipients,
      SUM(r.Receitas) AS SumRevenueRecipients
    FROM
      Recipients r
    GROUP BY
      r.Ano,
      r.Mes,
      r.DataMes
  ),
  -- Grade de alocação: escolhe a base correta conforme o método do projeto rateado
  Allocation AS (
    SELECT
      rd.Ano,
      rd.Mes,
      rd.DataMes,
      rd.Projeto_Id AS RatedProject_Id,
      rd.Nome AS RatedProject_Name,
      rd.Rateio AS RatedMethod, -- 1=Hours, 2=People, 4=Revenue
      rc.Projeto_Id AS Recipient_Id,
      rc.Nome AS Recipient_Name,
      CASE
        WHEN rd.Rateio = 1 THEN NULLIF(rc.Horas, 0) -- base = Horas
        WHEN rd.Rateio = 2 THEN NULLIF(rc.Colaboradores, 0) -- base = Pessoas
        WHEN rd.Rateio = 4 THEN NULLIF(rc.Receitas, 0) -- base = Receitas compensadas
        ELSE NULL
      END AS Recipient_Base,
      CASE
        WHEN rd.Rateio = 1
        AND rs.SumHoursRecipients > 0 THEN rc.Horas / rs.SumHoursRecipients
        WHEN rd.Rateio = 2
        AND rs.SumPeopleRecipients > 0 THEN rc.Colaboradores / rs.SumPeopleRecipients
        WHEN rd.Rateio = 4
        AND rs.SumRevenueRecipients > 0 THEN rc.Receitas / rs.SumRevenueRecipients
        ELSE 0
      END AS Factor,
      CASE
        WHEN rd.Rateio = 1
        AND rs.SumHoursRecipients > 0 THEN rd.TotalToAllocate * (rc.Horas / rs.SumHoursRecipients)
        WHEN rd.Rateio = 2
        AND rs.SumPeopleRecipients > 0 THEN rd.TotalToAllocate * (rc.Colaboradores / rs.SumPeopleRecipients)
        WHEN rd.Rateio = 4
        AND rs.SumRevenueRecipients > 0 THEN rd.TotalToAllocate * (rc.Receitas / rs.SumRevenueRecipients)
        ELSE 0
      END AS AllocationValue
    FROM
      Rated rd
      JOIN RecipientSums rs ON rs.DataMes = rd.DataMes
      JOIN Recipients rc ON rc.DataMes = rd.DataMes
  )
SELECT
  a.DataMes, -- DATE real (para ordenar/filtrar)
  CONCAT(
    ELT(
      a.Mes,
      'janeiro',
      'fevereiro',
      'março',
      'abril',
      'maio',
      'junho',
      'julho',
      'agosto',
      'setembro',
      'outubro',
      'novembro',
      'dezembro'
    ),
    '/',
    a.Ano
  ) AS `Mês/Ano`, -- texto amigável
  a.Ano AS `Ano`,
  a.Mes AS `Mês`,
  a.RatedProject_Id AS `Projeto rateado (ID)`,
  a.RatedProject_Name AS `Projeto rateado (origem)`,
  CASE a.RatedMethod
    WHEN 1 THEN 'Horas'
    WHEN 2 THEN 'Pessoas'
    WHEN 4 THEN 'Receitas'
  END AS `Método de rateio`,
  a.Recipient_Id AS `Projeto (padrão) - ID`,
  a.Recipient_Name AS `Projeto (padrão)`,
  a.Recipient_Base AS `Total (horas/receitas/pessoas)`,
  a.Factor AS `Fator multiplicador`,
  a.AllocationValue AS `Valor do rateio`,
  (a.Factor * 100.0) AS `Percentual`
FROM
  Allocation a
WHERE
  a.Recipient_Base IS NOT NULL
  AND a.AllocationValue > 0
ORDER BY
  a.DataMes,
  `Projeto rateado (origem)`,
  `Fator multiplicador` DESC,
  `Projeto (padrão)`;